[Desktop Entry]
Encoding=UTF-8
Name=Link to AccountcardgameToggle DropdownCreate Account...STARREDAll Starred Accounts...eosioeosio.tokeneosio.tokencardgamealicegameplay
Type=Link
URL=file:///tmp/.mount_EOSStucU5CLN/resources/app.asar/build/index.html#/account/cardgame
Icon=text-html
