#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=SiriusXM - Favorites
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ndpkpimckabgcemmaakfjkifejlalmhh
Icon=chrome-ndpkpimckabgcemmaakfjkifejlalmhh-Default
StartupWMClass=crx_ndpkpimckabgcemmaakfjkifejlalmhh
