[Desktop Entry]
Encoding=UTF-8
Name=Link to ContractcardgameToggle DropdownSTARREDAll Starred Accounts...eosioeosio.tokeneosio.tokencardgamealicegameplay
Type=Link
URL=file:///tmp/.mount_EOSStucU5CLN/resources/app.asar/build/index.html#/contract/cardgame
Icon=text-html
